<footer class="footer">
    <div class="container-fluid pt-3 row align-item-end">
        <ul class="footer-menu col-sm-6">
                <a href="#">
                    Home
                </a>
                <a href="#">
                    Company
                </a>
                <a href="#">
                    Portfolio
                </a>
                <a href="#">
                    Blog
                </a>
        </ul>

        <p  class="copyright col-sm-5 offset-1  ">
            ©
           Nisha, made with love for a better web
        </p>
    </div>
</footer>