<nav class="navbar border-0 navbar-expand-md navbar-light">
    <a class="navbar-brand logo ml-5" href="#">
        <img class="img-fluid" src="assets/img/fav.png" width="40px"> pigeon
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mt-2 ml-auto mt-lg-0">
            <li class="mx-5 ">
                <a>Home</a>
            </li>

            <li class="mx-5 ">
                <a>About</a>
            </li>
            <li class="mx-5 ">
                <a>Contact</a>
            </li>
            <li class="mx-4 ">
                <a class="text-white btnn" routerLink="/login" routerLinkActive="active">Login
                    <i class="fa fa-sign-in" aria-hidden="true"></i></a>
            </li>
        </ul>

    </div>
</nav>

<div class="container-fluid px-5">
    <div class="row mt-4 ">

        <div class="col-lg-5 ml-5">
            <h1 class="display-3">Get Started With Us!</h1>

            <p class="text-muted mb-5">Take a trip into an upgraded, more organized inbox with Pegion Mail.
                Login and start exploring all the free, organizational tools for your email </p>
           
                <a class="btnn text-white " routerLink="/Register" RouterLinkActive="Active">Create An
                Account</a>
        </div>

        <div class="image col-lg-6">
            <img class="img-fluid" src="assets/img/6594.jpg">
        </div>
    </div>
</div>